<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Secret - ShareSecrete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen">
  <div class="bg-gray-850 shadow-md rounded-lg p-6 text-center max-w-xl w-full">
    <h2 class="text-2xl font-semibold text-green-400 mb-4">Your Secret : </h2>
    <p class="bg-gray-800 p-4 rounded font-mono break-words text-green-300 border border-green-400">{{ secret }}</p>
  </div>
</body>
</html>
